<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
<div class="update">

<form th:method="POST" th:action="@{/people/update/{id}(id=${person.getId()})}" th:object="${person}">

    <input type="hidden" th:field="*{id}" value="${person.getId()}"/>
    <br/>
    <table>
    <tr><td><label class="labeltext" for="username">Имя пользователя: </label> </td><td>
    <input type="text" th:field="*{username}" id="username" value="${person.getName()}"/>
    <div style="color:#ffb3b3" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div></td></tr>


        <tr><td><label class="labeltext" for="email">Электронная почта: </label></td><td>
    <input type="text" th:field="*{email}" id="email" value="${person.getEmail()}"/>
    <div style="color:#ffb3b3" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div></td></tr>
</table>
    <br/>

    <div class="button-container">
    <input class="btn" type="submit" value="Сохранить"/>
</form>

    <a class="btn" href="/people/info">Вернуться к 'данным аккаунта'</a>

</form>
</div>
</body>
</html>