<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Приветствуем!</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="index">

<h1> Добро пожаловать на сервис <br/>
    по учету пользователей!
</h1>
        <div class="button-container">

            <a class="btn" href="/auth/login">Войти в аккаунт</a>
            <a class="btn" href="/reg/reg" type="submit">Зарегистрировать нового пользователя</a>

</div>
</div>
</div>
</body>
</html>